<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>DarkSky</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Votar</servlet-name>
    <servlet-class>darksky.controlador.servlets.Votar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Votar</servlet-name>
    <url-pattern>/votar</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IniciarSesion</servlet-name>
    <servlet-class>darksky.controlador.servlets.IniciarSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IniciarSesion</servlet-name>
    <url-pattern>/iniciar-sesion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CerrarSesion</servlet-name>
    <servlet-class>darksky.controlador.servlets.CerrarSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CerrarSesion</servlet-name>
    <url-pattern>/cerrar-sesion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ComprobarDuplicado</servlet-name>
    <servlet-class>darksky.controlador.servlets.ComprobarDuplicado</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComprobarDuplicado</servlet-name>
    <url-pattern>/comprobar-duplicado</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CrearCuenta</servlet-name>
    <servlet-class>darksky.controlador.servlets.CrearCuenta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearCuenta</servlet-name>
    <url-pattern>/app/crear-cuenta</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Comentar</servlet-name>
    <servlet-class>darksky.controlador.servlets.Comentar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Comentar</servlet-name>
    <url-pattern>/comentar</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CrearEntrada</servlet-name>
    <servlet-class>darksky.controlador.servlets.CrearEntrada</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearEntrada</servlet-name>
    <url-pattern>/app/crear-entrada</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EliminarPost</servlet-name>
    <servlet-class>darksky.controlador.servlets.EliminarPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarPost</servlet-name>
    <url-pattern>/eliminar-post</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditarPost</servlet-name>
    <servlet-class>darksky.controlador.servlets.EditarPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarPost</servlet-name>
    <url-pattern>/editar-post</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EliminarComentario</servlet-name>
    <servlet-class>darksky.controlador.servlets.EliminarComentario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminarComentario</servlet-name>
    <url-pattern>/eliminar-comentario</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Seguir</servlet-name>
    <servlet-class>darksky.controlador.servlets.Seguir</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Seguir</servlet-name>
    <url-pattern>/seguir</url-pattern>
  </servlet-mapping>
  <context-param>
    <description>Ubicacion de las imagenes subidas</description>
    <param-name>filePath</param-name>
    <param-value>C:\Dev_projects\Eclipse\Web_Dark_Sky\DarkSky\WebContent\data\post_img</param-value>
  </context-param>
  <context-param>
    <description>Maximo tamaño de las imagenes | Debe ser un entero en kilobytes</description>
    <param-name>maxFileSize</param-name>
    <param-value>3000000</param-value>
  </context-param>
  <!-- 
  <filter>
    <filter-name>SessionFilter</filter-name>
    <filter-class>darksky.controlador.filters.SessionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/crear-entrada</url-pattern>
  </filter-mapping>
   -->
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/vista/error.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>paginaPrincipal</servlet-name>
    <jsp-file>/vista/pagina-principal.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>paginaPrincipal</servlet-name>
    <url-pattern>/pagina-principal</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>crearCuenta</servlet-name>
    <jsp-file>/vista/crear-cuenta.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>crearCuenta</servlet-name>
    <url-pattern>/crear-cuenta</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>crearEntrada</servlet-name>
    <jsp-file>/vista/crear-entrada.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>crearEntrada</servlet-name>
    <url-pattern>/crear-entrada</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>error</servlet-name>
    <jsp-file>/vista/error.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>error</servlet-name>
    <url-pattern>/error</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>foro</servlet-name>
    <jsp-file>/vista/foro.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>foro</servlet-name>
    <url-pattern>/foro</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>post</servlet-name>
    <jsp-file>/vista/post.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>post</servlet-name>
    <url-pattern>/post</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>post2</servlet-name>
    <jsp-file>/vista/post2.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>post2</servlet-name>
    <url-pattern>/post2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>respuestasComentario</servlet-name>
    <jsp-file>/includes/elements/respuestas-comentario.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>respuestasComentario</servlet-name>
    <url-pattern>/elements/respuestas-comentario</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>perfil</servlet-name>
    <jsp-file>/vista/perfil.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>perfil</servlet-name>
    <url-pattern>/perfil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>categoria</servlet-name>
    <jsp-file>/vista/categoria.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>categoria</servlet-name>
    <url-pattern>/categoria</url-pattern>
  </servlet-mapping>
</web-app>